{% extends "core/base.html" %}
{% load static %}

{% block title %}About Us - Aviothic Education Academy{% endblock %}

{% block content %}


    <!-- ==================== Start wrapper ==================== -->

    <div class="wrapper">


        <!-- ==================== Start Header ==================== -->

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="cont">
                            <h4 class="welcome-text">
  Welcome to <span class="stroke">Aviothic Education Academy</span>, offering courses in
  <span class="stroke">aviation</span>, <span class="stroke">airport management</span>,
  and <span class="stroke">logistics</span>.
</h4>

                        </div>
                    </div>
                </div>
            </div>
            <div class="img-wrapper bg-img parallaxie" data-background="{% static 'img/portfolio/people-walking-inside-airport-terminal.jpg' %}" data-overlay-dark="3">
                <div class="title">
                    <div class="container">
                        <h3>About Us</h3>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== Start Header ==================== -->



        <!-- ==================== Start Intro ==================== -->

        <section class="intro-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="htit">
                            <h4>Who We Are ?</h4>
                            <img class="thumparallax" src="{% static 'img/portfolio/receptionists-elegant-suits-work-hours (1)_11zon.jpg' %}" alt="">

                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-1 col-md-8 mb-30">
                        <div class="text">
                            <p>We are a team of experienced professionals who are passionate about aviation and engaged in helping our students reach their goals. Our instructors are highly experienced in the industry and are committed to providing our students with the knowledge and skills they need to succeed.</p>
                            <p>As an institute, we believe that learning should be engaging and interactive. This is the reason why we designed our courses to be both practical and theoretical. Our students learn through a combination of lecture courses, case studies and hands-on training, allowing them to apply their knowledge to real-life scenarios.</p>
                            <p>We understand that the aviation industry is constantly evolving, and we strive to stay ahead of the curve by regularly updating our courses to reflect the latest industry trends and technologies. Our courses are designed to provide our students with the skills and knowledge necessary to succeed in the field of their choice.</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item mt-30">
                            <h6>Our Mission</h6>
                            <p>Our mission is to provide the highest quality education and training to those seeking a career in the aviation industry. We are committed to helping our students reach their career goals in the exciting world of aviation.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item mt-30">
                            <h6>Our Approach</h6>
                            <p>We believe aviation courses offered by us are the best in Kerala. Our mission is not just to train students in aviation, but also to enable them to obtain employment in their chosen field.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item mt-30">
                            <h6>Our Commitment</h6>
                            <p>Whether you're looking for a career in airport management, logistics or supply chain management, we have the courses you need to get started. Thank you for choosing our institute.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== End Intro ==================== -->
        <!-- ==================== Start Courses Section ==================== -->

        <section class="min-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="img">
                            <img class="thumparallax" src="{% static 'img/portfolio/pilot-air-hostess-walking-with-their-trolley-bags.jpg' %}" alt="">

                        </div>
                    </div>
                    <div class="col-lg-6 valign">
                        <div class="content">
                            <h4 class="wow" data-splitting>We have the best courses in aviation industry.</h4>
                            <p class="wow txt" data-splitting>Our courses are designed to be both practical and theoretical, combining lecture courses, case studies, and hands-on training to prepare you for success in the aviation industry.
                            </p>
                            <ul class="feat">
                                <li class="wow fadeInUp" data-wow-delay=".2s">
                                    <h6><span>1</span> Aviation Courses</h6>
                                    <p>Comprehensive training programs designed to prepare you for a successful career in aviation</p>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay=".4s">
                                    <h6><span>2</span> Logistics Courses</h6>
                                    <p>Specialized courses in logistics and supply chain management for the aviation industry</p>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay=".6s">
                                    <h6><span>3</span> Industry-Ready Training</h6>
                                    <p>Stay ahead with regularly updated courses reflecting the latest industry trends and technologies</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== End Courses Section ==================== -->



        <!-- ==================== Start Courses Offerings ==================== -->

        <section class="team section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 valign">
                <div class="intro mb-20">
                    <h2 class="extra-title wow" data-splitting>Our <br> Course Offerings.
                    </h2>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="item mb-10">
                            <div class="img">
                                <img class="thumparallax" src="{% static 'img/portfolio/pilot-air-hostess-walking-with-their-trolley-bags (2)_11zon.jpg' %}" alt="">

                                <div class="info">
                                    <h6>P.G Diploma</h6>
                                    <p>Airport Management</p>
                                    <div class="social">
                                        <span style="color: #fff; font-size: 14px;">Duration: 1 year</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="item mb-30">
                            <div class="img">
                                <img class="thumparallax" src="{% static 'img/portfolio/img.2.png' %}" alt="">

                                <div class="info">
                                    <h6>Certificate Course</h6>
                                    <p>Airport Management</p>
                                    <div class="social">
                                        <span style="color: #fff; font-size: 14px;">Duration: 6 Months</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="item mb-30">
                            <div class="img">
                                <img class="thumparallax" src="{% static 'img/portfolio/industrial-port-de-barcelona_11zon.jpg' %}" alt="">

                                <div class="info">
                                    <h6>Diploma</h6>
                                    <p>Shipping, Port & Logistics</p>
                                    <div class="social">
                                        <span style="color: #fff; font-size: 14px;">Duration: 6 Months</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="item mb-30">
                            <div class="img">
                               <img class="thumparallax" src="{% static 'img/portfolio/log3.png' %}" alt="">

                                <div class="info">
                                    <h6>Diploma</h6>
                                    <p>Supply-Chain Management</p>
                                    <div class="social">
                                        <span style="color: #fff; font-size: 14px;">Duration: 6 months</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- ==================== End Courses Offerings ==================== -->



        <!-- ==================== Start Testimonials ==================== -->

        <section class="testimonials section-padding o-hidden">
            <div class="container">

                <div class="title">
                    <h5 class="wow" data-splitting>Testimonials</h5>
                </div>

                <div class="row">
                    <div class="col-lg-3 offset-lg-1 positive-r">
                        <div class="slider-for wow fadeInUp" data-wow-delay=".3s">
                            <div class="info">
                                <h6>Alex<span>Aviation Student</span> </h6>
                            </div>
                            <div class="info">
                                <h6>Sarah <span>Logistics Student</span> </h6>
                            </div>
                            <div class="info">
                                <h6>John<span>Airport Management Graduate</span> </h6>
                            </div>
                        </div>
                        <div class="navs wow fadeIn" data-wow-delay=".3s">
                            <span class="next">
                                <i class="ion-ios-arrow-right"></i>
                            </span>
                            <span class="prev">
                                <i class="ion-ios-arrow-left"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-8 quote-text">
                        <div class="slider-nav wow fadeInUp" data-wow-delay=".3s">
                            <div class="item">
                                <div class="cont">
                                    <p>" The practical training and industry-focused curriculum at Aviothic Education Academy prepared me perfectly for my career in aviation. The instructors are experienced professionals who genuinely care about student success. "
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="cont">
                                    <p>" The logistics and supply chain management course provided me with the skills and knowledge I needed to excel in the aviation industry. The hands-on training approach made all the difference. "
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="cont">
                                    <p>" Thanks to Aviothic's comprehensive airport management program, I was able to secure a great position right after graduation. The combination of theory and practical experience was invaluable. "
                                    </p>
                                </div>
                            </div>
                        </div>
                        <span class="quote-icon wow fadeInUp" data-wow-delay=".5s"><img src="img/icons/quote.svg"
                                alt=""></span>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== End Testimonials ==================== -->





        <!-- ==================== Start call-to-action ==================== -->

        <section class="call-action nogif">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <div class="content">
                            <h6 class="wow" data-splitting>Get In Touch</h6>
                            <h2 class="wow" data-splitting>Let's connect <b>With Us</b>.</h2>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3 valign">
                        <a href="{% url 'contact' %}" class="btn-curve btn-lit"><span>Contact Us</span></a>
                    </div>

                </div>
            </div>
        </section>

        <!-- ==================== End call-to-action ==================== -->


{% endblock %}