{% load static %}
<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Kono onepage themeforest" />
    <meta name="description" content="Kono - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title -->
    <title>Aviothic</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/WhatsApp_Image_2025-12-25_at_4.51.25_PM__1_-removebg-preview.png' %}" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>

<body class="light">

    <!-- ==================== Start Loading ==================== -->
    <div id="preloader">
        <div class="loading-text">Loading</div>
    </div>
    <!-- ==================== End Loading ==================== -->

    {% include "partials/nav.html" %}
    {% block content %}
    {% endblock %}
    {% include "partials/footer.html" %}


    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
    <!-- Plugins -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Custom Scripts -->
    <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>
